.copy {
  font-size: 0.9rem;
  width: 100%;
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.copy p {
  text-align: center;
  padding: 8px 0;
  position: absolute;
  top: 10px;
  left: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
