@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --dark-color: #0a2533;
  --light-color: #70b9be;
  --gray-color: #97a2b0;
  --lightgray-color: #c6e3e5;
  --orange-color: #ff6b08;
}

html {
  max-width: 768px;
  margin: 0 auto;
  background: #0d1117;
}

body {
  max-width: 100%;
  color: var(--dark-color);
  background-color: white;
  font-family: "Manrope", sans-serif;
  height: 100vh;
  height: 100svh;
}

body,
button,
input,
textarea,
select {
  font-family: "Manrope", sans-serif;
}

button {
  cursor: pointer;
  transition: transform 0.1s;
}

button:active {
  transform: translateY(2px);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
